
 
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

.frame{
    width: 500px;
    height: 500px;
    border: 20px solid #005A9C;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}
.center{
    width: 20px;
    height: 20px;
    background-color: #00FFFF;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;

}
.hour{
    font-size: 30px;
    font-weight: bold;
    color: #00FFFF;
    position: absolute;
}
.hour-hand-1{
    top: 40px;
    right: 130px;

}
.hour-hand-2{
    top: 125px;
    right: 45px;

}
.hour-hand-3{
    top: 235px;
    right: 10px;

}
.hour-hand-4{
    top: 345px;
    right: 45px;

}
.hour-hand-5{
    top: 430px;
    right: 130px;

}
.hour-hand-6{
    bottom: 10px;
    left: 240px;

}
.hour-hand-7{
    top: 430px;
    left: 130px;

}
.hour-hand-8{
    top: 345px;
    left: 45px;

}
.hour-hand-9{
    top: 235px;
    left: 10px;

}
.hour-hand-10{
    top: 125px;
    left: 45px;

}
.hour-hand-11{
    top: 40px;
    left: 130px;

}
.hour-hand-12{
    top: 10px;
    left: 235px;

}
.brand{
    font-size: 30px;
    font-weight: bold;
    color: #005A9C;
    position: absolute;
    top: 90px;
    left: 42.5%;
    font-family: cursive;
}
.min-container{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}
.min-hand{
    position: relative;

}
.min-hand .hand{
    width: 4px;
    height: 200px;
    background-color: #00FFFF;
    position: absolute;
    left: 198px;

}
.min-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #00FFFF;
    transform: rotate(180deg);
    position: absolute;
    left: 190px;
    top: -7px;
}
.hour-container{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}
.hour-hand{
    position: relative;

}
.hour-hand .hand{
    width: 4px;
    height: 150px;
    background-color: #00FFFF;
    position: absolute;
    left: 148px;

}
.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #00FFFF;
    transform: rotate(180deg);
    position: absolute;
    left: 140px;
    top: -7px;
}

.sec-container{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 75px;
    left: 75px;
    border-radius: 50%;
}
.sec-hand{
    position: relative;

}
.sec-hand .hand{
    width: 2px;
    height: 175px;
    background-color: #00FFFF;
    position: absolute;
    left: 174px;
    

}